<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Clase</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
        <link href="../style/css/cards.css" rel="stylesheet">
    </head>
    <body>
        <p>
            <em>El dinero</em> es importante pero <strong>la salud</strong> lo es más.
        </p>
        <img src="" alt="">
        <p></p>
        <h1>Mi título principal</h1>
        <h2>Mi título de nivel superior</h2>
        <h3>Mi subtítulo</h3>
        <h4>Mi sub-subtítulo</h4>

        <ul>
            <li>Auto</li>
            <li>Moto</li>
            <li>Bici</li>
        </ul>    
        <ol>
            <li>Auto</li>
            <li>Moto</li>
            <li>Bici</li>
        </ol>        
        <a href="https://www.google.com" target="_blank">Google</a>
        <section class="section-cards">
            <div class="card">
                <img src="../img/paleta.png" alt="Avatar" >
                <div class="container">
                <h4><b>John Doe</b></h4>
                <p>Architect & Engineer</p>
                </div>
            </div>
            <div class="card">
                <img src="../img/paleta.png" alt="Avatar" >
                <div class="container">
                <h4><b>John Doe</b></h4>
                <p>Architect & Engineer</p>
                </div>
            </div>
            <div class="card">
                <img src="../img/paleta.png" alt="Avatar" >
                <div class="container">
                <h4><b>John Doe</b></h4>
                <p>Architect & Engineer</p>
                </div>
            </div>
            <div class="card">
                <img src="../img/paleta.png" alt="Avatar" >
                <div class="container">
                <h4><b>John Doe</b></h4>
                <p>Architect & Engineer</p>
                </div>
            </div>
            
        </section>
    </body>
</html>
