<!DOCTYPE html>
<html lang="es-ar">
    <head>
        <title>Diseño Web</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Hola soy Lucas, creador de la web.Este espacio fue creador para documentar y 
        publicar contenido sobre el desarrollo de un Sitio Web. Su objetivo es ser un espacio colaborativo
      y de apredisaje.">
        <meta name="keywords" content="Diseño web, Estructura Html, CSS3, javascript, blog web"/>
        <meta name="author" content="Lucas Bauducco" />
        <meta name="copyright" content="Lucas Bauducco" />
        <meta name="robots" content="index,follow" />
        <meta http-equiv="expires" content="1000000"/>
        <link href="https://hunter086.github.io/" rel="canonical">
        <link href="../style/css/body.css" rel="stylesheet">
        <link href="../style/css/header.css" rel="stylesheet">
        <link href="../style/css/navbar.css" rel="stylesheet">
        <link href="../style/css/info.css" rel="stylesheet">
        <link href="../style/css/footer.css" rel="stylesheet">
      </head>
    <body>
      <!--HEADER-->
        <header class="header">
          <div class="header-body">
            <div class="header-contacto">
              <span>
                <a href="#">Contacto</a>
              </span>
            </div>
            <div class="header-social">
                <span><img src="../img/icon/circle.svg" alt="imagen circulo"></span>
                <a href="#"><img src="../img/icon/icons8-youtube-play.svg"  alt="enlaces a You Tube"></a>
                <a href="#"><img src="../img/icon/icons8-facebook.svg" alt="enlaces a Facebook"></a>
                <a href="#"><img src="../img/icon/icons8-linkedin.svg" alt="enlaces a Linken In"></a>
                <a href="#"><img src="../img/icon/icons8-instagram-20.svg" alt="enlaces a Intagram"></a>
                <span><img src="../img/icon/circle.svg" alt="imagen circulo"></span>
            </div>
            <div class="header-traduction">
              <span>
                <a href="#">En</a>
              </span>
              <span>
                |
              </span>
              <span>
                <a href="#">Es</a>
              </span>
            </div>
          </div>
            <!--NAVBAR-->
            <nav class="nav">
              <div class="nav-title">
                <img src="../img/lucas.png" alt="Logo de lucas">
              </div>
            
              <div class="nav-menu">
                <ul>
                  <li><a href="../index.html">Home</a></li>
                  <li>Blog</li>
                  <li>Services</li>
                  <li>Demo</li>
                  <li>About</li>
                </ul>
              </div>
            </nav>
          </header>
          <main>
            <section class="info">
                <div class="tab">
                    <button class="tablinks" onclick="openCity(event, 'Doc1')" id="defaultOpen">Introducción HTML</button>
                    <button class="tablinks" onclick="openCity(event, 'Doc2')">Paris</button>
                    <button class="tablinks" onclick="openCity(event, 'Doc3')">Tokyo</button>
                </div>
                
                <div id="Doc1" class="tabcontent">
                    <h3 id="title">¿Que es HTML?</h3>
                    <h4 id="subtitle">Lenguaje de {etiquetas/marcas} de hipertexto</h4>
                    <p>HTML (Lenguaje de Marcas de Hipertexto, del inglés HyperText Markup Language) es el componente más básico de la Web. Define el significado y la estructura del contenido web.</p>
                    <p>"Hipertexto" hace referencia a los enlaces que conectan páginas web entre sí, ya sea dentro de un único sitio web o entre sitios web.</p>
                    <p>HTML utiliza "marcas" para etiquetar texto, imágenes y otro contenido para mostrarlo en un navegador Web.</p>
                    <p>Ej:
                        head, title, body, header, footer, article, section, p, div, span, img, aside, audio, canvas, datalist, details, embed, nav, output, progress, video, ul, ol, li
                    </p>
                    <p>Elemento rodeado por "<" body ">"</p>
                    <p>No distingue entre mayúsculas y minúsculas < title >, se puede escribir como < Title >, < TITLE >< /TITLE ></p>
                </div>
                
                <div id="Paris" class="tabcontent">
                    <h3>Paris</h3>
                    <p>Paris is the capital of France.</p> 
                </div>
                
                <div id="Tokyo" class="tabcontent">
                    <h3>Tokyo</h3>
                    <p>Tokyo is the capital of Japan.</p>
                </div>
            </section>
          </main>
          <!-- Footer -->
          <footer class="footer">
              <div class="footer-title">
                <img src="../img/lucas.png" alt="Logo de lucas">
              </div>
              <div class="footer-social">
                  <a href="#"><img src="../img/icon/icons8-youtube-play.svg" alt="enlaces a You Tube"></a>
                  <a href="#"><img src="../img/icon/icons8-facebook.svg" alt="enlaces a Facebook"></a>
                  <a href="#"><img src="../img/icon/icons8-linkedin.svg" alt="enlaces a Linken In"></a>
                  <a href="#"><img src="../img/icon/icons8-instagram-20.svg" alt="enlaces a Intagram"></a>
              </div>
          </footer>
          <script>
            function openCity(evt, cityName) {
                var i, tabcontent, tablinks;
                tabcontent = document.getElementsByClassName("tabcontent");
                for (i = 0; i < tabcontent.length; i++) {
                    tabcontent[i].style.display = "none";
                }
                tablinks = document.getElementsByClassName("tablinks");
                for (i = 0; i < tablinks.length; i++) {
                    tablinks[i].className = tablinks[i].className.replace(" active", "");
                }
                document.getElementById(cityName).style.display = "block";
                evt.currentTarget.className += " active";
                }
                
                // Get the element with id="defaultOpen" and click on it
                document.getElementById("defaultOpen").click();
            </script>
    </body>
</html>
