<!DOCTYPE html>
<html lang="es-ar">
    <head>
        <title>Diseño Web</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Hola soy Lucas, creador de la web.Este espacio fue creador para documentar y 
        publicar contenido sobre el desarrollo de un Sitio Web. Su objetivo es ser un espacio colaborativo
      y de apredisaje.">
        <meta name="keywords" content="Diseño web, Estructura Html, CSS3, javascript, blog web"/>
        <meta name="author" content="Lucas Bauducco" />
        <meta name="copyright" content="Lucas Bauducco" />
        <meta name="robots" content="index,follow" />
        <meta http-equiv="expires" content="1000000"/>
        <link href="https://hunter086.github.io/" rel="canonical">
        <link href="../style/css/body.css" rel="stylesheet">
        <link href="../style/css/profile.css" rel="stylesheet">


      </head>
    <body>
      <!--HEADER-->
          <header class="header">
            <div class="header-body">
              <div class="header-contacto">
                <span>
                  <a href="profile.html">Contacto</a>
                </span>
              </div>
              <div class="header-social">
                  <span><img src="../img/icon/circle.svg" alt="imagen circulo"></span>
                  <a href="#"><img src="../img/icon/icons8-youtube-play.svg"  alt="enlaces a You Tube"></a>
                  <a href="#"><img src="../img/icon/icons8-facebook.svg" alt="enlaces a Facebook"></a>
                  <a href="https://www.linkedin.com/in/lucas-bauducco-804604237/" target="_blank"><img src="../img/icon/icons8-linkedin.svg" alt="enlaces a Linken In"></a>
                  <a href="#"><img src="../img/icon/icons8-instagram-20.svg" alt="enlaces a Intagram"></a>
                  <span><img src="../img/icon/circle.svg" alt="imagen circulo"></span>
              </div>
              <div class="header-traduction">
                <span>
                  <a href="#">En</a>
                </span>
                <span>
                  |
                </span>
                <span>
                  <a href="#">Es</a>
                </span>
              </div>
            </div>
            <!--NAVBAR-->
            <div class="poligon"></div>
            <nav class="nav">
              <div class="nav-title">
                <a href="../index.html"><img src="../img/lucas.png" alt="Logo de lucas"></a>
              </div>
            
              <div class="nav-menu">
                <ul>
                  <li><a class="link-menu" href="../index.html"><img class= "icon-menu circle" src="../img/icon/home.svg" alt="icon home"></a>
                  </li>
                  <li class="dropdown">
                    <button id="myBtnDocument">
                      <img class= "icon-menu circle" src="../img/icon/document.svg" alt="icon home">
                    </button>
                    <!-- The Modal -->
                      <div id="myModalDocument" class="modal">

                        <!-- Modal content -->
                        <div class="modal-content">
                          <span class="close">&times;</span>
                          <div class="box-modal flex justify-content-space-around">
                            <a href="../views/html.html">
                              <div class="flip-card">
                                <div class="flip-card-inner">
                                  <div class="flip-card-front">
                                    <img src="../img/html.png" alt="icon html">
                                  </div>
                                  <div class="flip-card-back">
                                    <h1>HyperText Markup Language</h1> 
                                    <p>Define el significado y la estructura del contenido web.</p> 
                                  </div>
                                </div>
                              </div>
                            </a>
                            <a href="views/css.html">
                              <div class="flip-card">
                                <div class="flip-card-inner">
                                  <div class="flip-card-front">
                                    <img src="../img/css3.png" alt="icon css">
                                  </div>
                                  <div class="flip-card-back">
                                    <h1>Cascading Style Sheets</h1> 
                                    <p>Es el lenguaje de estilos utilizado para describir la presentación de documentos HTML o XML</p> 
                                    <p>CSS describe como debe ser renderizado el elemento estructurado</p>
                                  </div>
                                </div>
                              </div>
                            </a>
                            <a href="views/html.html">
                              <div class="../flip-card">
                                <div class="flip-card-inner">
                                  <div class="flip-card-front">
                                    <img src="../img/Elchalten.jpg" alt="icon html">
                                  </div>
                                  <div class="flip-card-back">
                                    <h1>Example</h1> 
                                    <p>Example</p> 
                                    <p>Example</p>
                                  </div>
                                </div>
                              </div>
                            </a>
                          </div>
                        </div>
                      </div>
                  </li>
                  <li><a class="link-menu" href="../views/css.html"><img class= "icon-menu circle" src="../img/icon/home.svg" alt="icon home"></a></li>
                </ul>
              </div>
            </nav>
          </header>


          <main>
                <div class="profile">
                    <div class="profile-img">
                        <img src="../img/plant.jpg" alt="picture departament">
                    </div>
                    <div class="info">
                        <div class="info-profile">
                            <div class="circle">

                            </div>
                            <span>Santa Fe, Argentina</span>
                        </div>
                        <div class="info-profile">
                            <div class="circle">

                            </div>
                            <span>+5490000000000</span>
                        </div>
                        <div class="info-profile">
                            <div class="circle">

                            </div>
                            <span>lucasbauducco@gmail.com</span>
                        </div>
                        <div class="info-profile">
                            <div class="circle">

                            </div>
                            <span><a href="https://www.linkedin.com/in/lucas-bauducco-804604237/">Linked In</a></span>
                        </div>
                    </div>
                </div>
          </main>
          <div class="markwater">
            <a href="../index.html"><img src="../img/by_logo.png" alt="by Lucas Bauducco"></a>
          </div>
          <!-- Footer -->
          <footer class="footer">
              <div class="footer-title">
                <img src="../img/lucas.png" alt="Logo de lucas">
              </div>
              <div class="footer-social">
                  <a href="#"><img src="../img/icon/icons8-youtube-play.svg" alt="enlaces a You Tube"></a>
                  <a href="#"><img src="../img/icon/icons8-facebook.svg" alt="enlaces a Facebook"></a>
                  <a href="https://www.linkedin.com/in/lucas-bauducco-804604237/" target="_blank"><img src="../img/icon/icons8-linkedin.svg" alt="enlaces a Linken In"></a>
                  <a href="#"><img src="../img/icon/icons8-instagram-20.svg" alt="enlaces a Intagram"></a>
              </div>
          </footer>

          <script>
         
          </script>
    </body>
</html>

