
.section-cards{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    pointer-events: none;
    padding: 10px;
    margin: 10px 0px 0px 0px;/* Arriba | Derecha | Abajo | Izquierda */
}
.card {
    /* Add shadows to create the "card" effect */
    width: 20%;
    /*background-color: rgba(255, 255, 255, 0.4);*/
    background-image: url('https://media0.giphy.com/media/knBA26sv2ueXK/giphy.gif?cid=ecf05e47ctvky9evw1k25mwmkp5wzkkpqnwm94bmnr45143y&rid=giphy.gif&ct=g');
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    margin: 0px 0px 0px 0px;
    border-radius: 20px;
    pointer-events: all;
  }
  .section-cards:hover > .card:not(:hover),.section-cards:active > .card:not(:active) {
    filter: brightness(0.2) saturate(0) contrast(0.5) blur(2px);
    -webkit-filter: brightness(0.2) saturate(0) contrast(0.5) blur(2px);

    
  }
  /* On mouse-over, add a deeper shadow */
  .card:hover, .card:active{
    box-shadow: 0px 0px 40px 20px rgba(0, 238, 255, 0.5);
    transform: scale(1.1) translateZ(0);
    -webkit-transform: scale(1.1);
    
  }

  .card  img{
    width: 100%;
    height: auto;
    border-radius: 20px;
    filter: opacity(80%);
  }

  /*text*/
  .card-info {
      z-index: 2;
      border-bottom-left-radius: 20px;
      border-bottom-right-radius: 20px;
      padding: 16px 10px 10px 10px;/* Arriba | Derecha | Abajo | Izquierda */
  }
  .card-category {
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-size: 2rem;
    letter-spacing: 0.1rem;
    font-weight: 500;
    color: #b1b1b1;
}

.card-title {
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 1.2rem;
    font-family: 'Roboto Slab', serif;
    color: #74bdf8c0;
}

.card-by {
    font-size: 12px;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 1rem;
}
.card-author {
  font-weight: 600;
  text-decoration: none;
  color: #ff8b3eb6;
  font-size: 1rem;
}
  

  /* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .section-cards{
    margin-top: 20px;
}
  .section-cards .card .card-info{
    display: none;
  }
  .card  img{
    height: 100%;
  }
}


/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px)and (max-width: 768px) {
  .section-cards{
    margin-top: 20px;
}
  .section-cards .card .card-info{
    display: none;
  }
  .card  img{
    height: 100%;
  }
  
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 1100px){
  .section-cards{
    margin-top: 20px;
}
  .section-cards .card .card-info{
    display: none;
  }
  .card  img{
    height: 100%;
  }
  
}


/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {} 