:root{
    --background-footer: #34568B;
    --text-color-footer: rgb(247, 202, 201);
    --text-link-link: #d1d4d6;
    --text-link-hover: #939597;
}
.footer{
    background-color: var(--background-footer);
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 10vh;
}
.footer .footer-title img{
    width: 20%;
}
.footer .footer-title{
    width: 60%;
}
.footer .footer-social{
    width: 40%;
    text-align: right;
}
.footer .footer-social img,a{
    width: 10%;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .footer .footer-title img{
        width: 50%;
    }
    .footer .footer-social img{
        width: 20%;
    }
 }

 /* Small devices (portrait tablets and large phones, 600px and up) */
 @media only screen and (min-width: 600px)and (max-width: 768px) {
 }
 
 /* Medium devices (landscape tablets, 768px and up) */
 @media only screen and (min-width: 768px)and (max-width: 992px) {
    
 }
 
 /* Large devices (laptops/desktops, 992px and up) */
 @media only screen and (min-width: 992px) {}
 
 /* Extra large devices (large laptops and desktops, 1200px and up) */
 @media only screen and (min-width: 1200px) {} 