:root{
    --background-navbar: #2458af;
    --background-title: rgb(146, 168, 209);
}
.nav{
    background-color: var(--background-navbar);
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: 3;
}
.nav-title{
    background: var(--background-title);
    margin: 0px 0px 0px 0px;
    text-align: center;

}
.nav-title img{
    width: 50%;

}
.nav-menu ul{
    margin: 0px 16px 0px 0px;
}

.nav-menu ul{
    display: flex;

}

.nav-menu ul li{
    padding: 10px 20px;
    color: #ccc;
    font-size: 20px;
    list-style-type: none;
    cursor: pointer;
}

.nav-menu ul li:hover{
    color: #fff;
    font-weight: bold;
}

/*style for responsive menu*/

@media screen and (max-width:1000px){
   .nav{
       height: auto;
   }
   .nav .nav-title{
       font-size: 10px;
   }
   .nav .nav-title img{
    width: 100%;
    }


   .nav .nav-menu ul li{
       padding: 5px 5px;
       text-align: center;
       font-size: 12px;
   }
}